# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Zadanie1.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kamio90\Documents\Rider\cs-lab04-Implementacje-interfejsow-implicit-explicit-kompozycja\Zadanie1\.idea\.idea.Zadanie1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
